html {
  font-family: Georgia, serif;
  color: #fff;
}

img {
  max-height: 500px;
}

body {
  background-color: #495562;
}

.btn-ghost {
  border-color: #97a49b;
  color: #fff;
}


header {
  background-color: #495562;
}

.banner-img {
  max-height: 500px;
  overflow: hidden;
}

.banner-content,
.btn {
  color: #fff;
}

.btn-ghost:hover {
  border-color: #efefef;
  background-color: #efefef;
  color: #495562;
}

@media only screen and (min-width: 38em) {

  .banner-btn {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .banner-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to top, rgba(73, 85, 98, .6), rgba(73, 85, 98, 0));
  }

  .btn-ghost {
    border-color: #fff;
  }

}
