html {
  font-family: Georgia;
  color: #fff;
}

img {
  max-height: 500px;
}

body {
  background-color: #495562;
}

.btn-ghost {
  border-color: #97a49b;
  color: #fff;
}

@media only screen and (min-width: 60em) {

  img {
    position: relative;
  }

  section {
    position: absolute;
    top: 250px;
  }

  .btn-ghost {
    border-color: #fff;
  }
}
